<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>

<section id="pricing" class="pricing section section-description">
    <div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Ad History</h1>
    </div>
    <%if @ad_requests%>
    <div class="col-md-6 text-right">
      <div class="form-inline extraMargin">
      <div class="form-group extraControl wd150 clearfix  ">
        <%=select_tag :status,options_for_select([["Published By You",6],["Declined By you",5]]),{:include_blank=>"-Ad Status-",:class=>"form-control",:onchange=>"filter(this,'#{current_influencer.id}')"} %>
      </div>
      <div class="form-group">
        <a href="" id="list" onclick="javascript:window.open('<%=influencer_ad_history_path(influencer_id:current_influencer.id)%>','_self')" class="btn btn-default btn-sm"><span class="ion-loop"></span></a>
      </div>
   </div>
    </div>
    <%end%>
 </div>

    <div class="row">

      <%@ad_requests.each do |ad_request|%>
        <div class="col-md-3 main-content-wrapper">
          <div class="price-features">
            <div class="advertiserBox">
              <%if ad_request.ad_image_url.present?%>
              <img id="<%=ad_request.id%>_img" height="143px" src="<%=ad_request.ad_image_url%>">
              <%else%>
              <img id="<%=ad_request.id%>_img" height="143px" src="/assets/gallery/social-influencer4">
              <%end%>
            </div>
            <div class="caption">
              <h4 id="<%=ad_request.id%>_title"><%=ad_request.title%></h4>
              <p id="<%=ad_request.id%>_description" class="word-wrap"> <%=ad_request.description%></p>
              <div class="price-cta">
                <div class="price-number-wrap">
                <div class="price-top"><span class="price-plan-time-unit">Price: </span><span class="price-cta-number">$<%=current_influencer.publishing_price%></span></div>
                  <p><b>Current Status</b>:<%=Advertisement::STATUS.key (ad_request.status)%></p>
                  <%if ad_request.status == declined_by_influencer %>
                  <p><b>Reason for decline:</b></p>
                  <p><%=ad_request.reason_for_decline%></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <%end%>
      </div>

      </div>
    </section>
  </div>
</section>
</main>
<script>
function filter(obj,influencer_id){
  console.log($("#"+obj.id+" option:selected").val());
  window.open("<%=influencer_ad_history_path(influencer_id:current_influencer.id)%>?status="+$("#"+obj.id+" option:selected").val(),"_self");
}

function to_list(event){
  $("#products > div").removeClass("item col-xs-12 col-lg-4 main-content-wrapper grid-group-item").addClass("item col-xs-12 col-lg-4 main-content-wrapper grid-group-item list-group-item");
}
function to_grid(event){
  $("#products > div").removeClass("item col-xs-12 col-lg-4 main-content-wrapper grid-group-item list-group-item").addClass("item col-xs-12 col-lg-4 main-content-wrapper grid-group-item");
}
Tipped.create('.fb-icon', 'Some tooltip text');

</script>
