<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">

    <%= render :partial => "/layouts/left_panel" %>
    <%= render :partial => "/layouts/header" %>
    <section id="dashboard-tile">
    <div class="container">
          <div class="row">
      <div class="col-md-12">
        <h1>Total Earnings</h1>
      </div>
    </div>
     <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer">$ <%=@earned_today%></h1>
                      <p>Today</p>
                  </div>
                  <div class="icon"><span class="ion-social-usd"></span></div>
              </div>
          </div>

          <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer">$ <%=@earned_monthly%></h1>
                      <p>This Month</p>
                  </div>
                  <div class="icon"><span class="ion-social-usd"></span></div>
              </div>
          </div>

          <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer"><%=@published_ads_count%></h1>
                      <p>Published Ads</p>
                  </div>
                  <div class="icon"><span class="ion-social-usd"></span></div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer"><%=@upcoming_ads%></h1>
                      <p>Ads coming(Not Approved By Admin)</p>
                  </div>
                  <div class="icon"><span class="ion-android-time"></span></div>
              </div>
          </div>
    </div>
    </div>
    </section>

    <!-- <section id="cta2" class="cta2">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
          <div class="cta2-text">
          <h4 class="text-center">You have new Ad request:</h4>
          </div>
          </div>
          <div class="col-md-5 clearfix text-center">
          <div class="cta2-buttons"><a class="btn btn-mountain btn-sm" href="#">3 Requests</a></div>
          </div>
    </div>
      </div>
    </section> -->

    <section id="pricing" class="pricing section section-description">
      <div class="container">
        <div class="row">

          <%@ad_requests.each do |ad_request|%>
            <div id="ad_request_<%=ad_request.id%>" class="col-md-3 main-content-wrapper">
            <div class="lft-icon">
            <div class="center-icon">
            <span class="ion-social-facebook"></span>
            </div>
            </div>

            <div class="price-features">
            <div class="advertiserBox">
              <%if ad_request.ad_image_url.present?%>
              <img id="<%=ad_request.id%>_img" height="143px" src="<%=ad_request.ad_image_url%>">
              <%else%>
              <img id="<%=ad_request.id%>_img" height="143px" src="/assets/gallery/social-influencer4">
              <%end%>
            </div>
            <%if ad_request.ad_type.to_i ==2%>

            <div class="caption">
              <b>Title:</b><h4 id="<%=ad_request.id%>_title"><%=ad_request.title%></h4>
              <b>Description:</b><p id="<%=ad_request.id%>_description" class="word-wrap"><%=ad_request.description%></p>
              <b>Caption:</b><p id="<%=ad_request.id%>_caption"><%=ad_request.caption%></p>
              <b>Photo Click Link:</b><p id="<%=ad_request.id%>_photo_click_link"><%=ad_request.photo_click_link%></p>

              <div class="price-cta">
                <div class="price-number-wrap">
                  <div class="price-top"><span class="price-plan-time-unit">Price: </span><span class="price-cta-number"><h5>$
                    <%=current_influencer.publishing_price%><span class="h5"></h5></span></div>
                </div>

                <button class="btn btn-mountain-flat btn-sm violet-btn" onclick="open_share_dialog_to_profile(<%=ad_request.id%>,<%=ad_request.ad_type%>)">Post to facebook Profile</button>

                <%if current_influencer.social_account.present? and current_influencer.social_account.facebook_page_id.present?%>
                  <button class="btn btn-mountain-flat btn-sm violet-btn" onclick="open_share_dialog_to_page(<%=ad_request.id%>,<%=ad_request.ad_type%>)">Post to facebook Page</button>
                <%end%>
                  <button class="btn btn-mountain-flat btn-sm" data-toggle="modal" onclick="show_decline_modal(<%=ad_request.id%>)">Decline</button>
                <%#if current_influencer.social_account.present? and current_influencer.social_account.facebook_page_id.present?%>
                  <!-- <input type="hidden" id="<%=ad_request.id%>_page_id" value="<%#=current_influencer.social_account.facebook_page_id%>"/> -->
                <%#end%>

              </div>
            </div>
            <%elsif ad_request.ad_type.to_i ==1%>

            <div class="caption">
             <h4>Link to be shared</h4>
             <b id="posting_link_<%=ad_request.id%>"><%=ad_request.posting_link%></b>
             <hr />

             <button class="btn btn-mountain-flat btn-sm violet-btn" onclick="open_share_dialog_to_profile(<%=ad_request.id%>,<%=ad_request.ad_type%>)">
               Post to facebook Profile</button>

             <%if current_influencer.social_account.present? and current_influencer.social_account.facebook_page_id.present?%>
               <button class="btn btn-mountain-flat btn-sm violet-btn" onclick="open_share_dialog_to_page(<%=ad_request.id%>,<%=ad_request.ad_type%>)">
                 Post to facebook Page</button>
             <%end%>
               <button class="btn btn-mountain-flat btn-sm" data-toggle="modal" onclick="show_decline_modal(<%=ad_request.id%>)">Decline</button>
           </div>

            <%end%>
            </div>
            </div>
          <%end%>
        </div>

      </div>
      <!-- Approve Popups -->
    </section>
   <%= render :partial => "/layouts/footer" %>
</div>
</section>
<div class="modal fade" id="declinePopup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-close"></span></button>
      <h4 class="modal-title" id="myModalLabel">Ad Decline</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
          <%=form_tag "#",:class=>"form" do |f|%>
            <%=hidden_field_tag(:declined_ad_id,"")%>
            <%=text_area_tag(:reason_for_ad_decline,"",:placeholder=>"Enter Reason for declining the ad ",:class=>"form-control",:required=>true)%>
            <%=submit_tag("Submit", :class=>"btn btn-mountain btn-sm btn-round mgTop30",:onclick=>"decline_ad_by_influencer()")%>
          <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function show_decline_modal(id){
    event.preventDefault();
    $("#declined_ad_id").val(id);
    $("#declinePopup").modal("show");
  }

</script>
</main>
