<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>
<section class="account section" style="min-height:575px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1>Settings</h1>
      </div>
    </div>
    <div class="form-horizontal">
        <div class="col-md-12 table-responsive">
          <table class="table table-striped">
            <tr>
              <th>Image</th>
              <!-- <th>Platform Type</th> -->
              <th>Facebook Page Likes</th>
              <th>Facebook Page Id</th>
           </tr>
            <%if @social_accounts.present?%>
              <%@social_accounts.each do |social_account|%>
                 <tr>
                  <td><img src="<%=social_account.facebook_image_url rescue nil%>" /></td>
                  <!-- <td><%#=Advertisement::PLATFORMS.key(social_account.platform_type) rescue nil%></td> -->
                  <td><%=social_account.facebook_page_count rescue nil%></td>
                  <td><%=social_account.facebook_page_id rescue nil%></td>
                 <tr>
              <%end%>
            <%end%>
          </table>
        </div>
      </div>
      <div id="chart-area" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

  </div>
  </section>
  </div>
  </section>
  </main>
<script>
function check_for_number(obj) {
   if(isNaN(obj.value[obj.value.length-1])){
    $("#error-cross").removeClass("hidden");
    $("#check-cross").addClass("hidden");
  }
  else {
   $("#error-cross").addClass("hidden");
   $("#check-cross").removeClass("hidden");
  }
}
</script>

  <!-- <script>
     FB.api('/154224574782983/insights/page_fans_country', 'GET',{"access_token":"EAAOBpshGnogBAC7Bs5ZA9jqP2ZAtgVZC7MgVHVmBzUNkKFUZBA0gj7A8GsKT2ApHZCpV5gPFbBSuaY46S5AuV5ruu68ZA19k2HtKPhlYJwEyBsdflYVHVE55gpbZANnms6xVRLIKnpcYxVYbB22Sl3giQJRmSbZCo4JRMPUY3djdkwZDZD"},function(response) {
        console.log(response["data"][0]["values"][0]["value"]);
        f = response["data"][0]["values"][0]["value"];
        console.log(f["AE"]);

        Highcharts.chart('chart-area', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'CountryWise Data'
          },
          tooltip: {
              pointFormat: '{point.name}: <b>{point.y}</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: false
                  },
                  showInLegend: true
              }
          },
          series: [{
              name: 'Country',
              colorByPoint: true,
              data: [{
                  name: 'AE',
                  y: f["AE"]
              }, {
                  name: 'US',
                  y: f["US"],
              }, {
                  name: 'AE',
                  y: f["AE"]
              },{
                name: 'IN',
                y: f["IN"]
              },{
                name: 'TN',
                y: f["TN"]
              }
              ]
          }]
      });
    });
</script> -->
