<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>

<section class="account section" style="min-height:575px;">
<div class="container">

<div class="row">
<div class="col-md-12">
<h1>Audience Management</h1>
</div>
</div>

<div class="form-horizontal">
  <%=form_for @new_group,:url=>create_audience_group_advertisers_path, :method=>"post" do |f|%>
<div class="row">
<div class="col-sm-8">
    <div class="form-group">
      <label class="control-label col-md-5" for="">Social Influencer Group Name</label>
        <div class="col-md-7">
          <!-- <input type="text" class="form-control" placeholder="Group Name"> -->
          <%=f.text_field:group_name,:class=>"form-control",:onblur=>"check_existing_group(this.value)"%>
          <span class="hidden" id="error-msg"> </span>
        </div>
      </div>
<script>
function check_existing_group(group_name) {
  console.log(group_name);
  $.ajax({
    url:"<%=check_existing_group_advertisers_path%>?name="+group_name,
    type:"POST",
    success: function(response){
      console.log(response);
      if (response["status"]){
        $("#error-msg").removeClass("hidden").text("group already Exists");
      $("#influencer_group_group_name").focus();
      }
      else {
        $("#error-msg").addClass("hidden")
      }
    }
  });

}
</script>
      <div class="form-group">
        <label class="control-label col-md-5" for="">Category:</label>
        <div class="col-md-7">
          <%=f.select :category_id,options_for_select(Category.pluck(:name,:id)),{:prompt=>"-Select Category-"},:class=>"form-control", :required=>true%>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-5" for="">Choose Social Influencer</label>
          <div class="col-md-7">
             <%= f.select :influencer_id, options_for_select(Influencer.all.map {|i| [i.name+"(#{i.email})",i.id]}), { }, {:multiple => true,:class => "form-control", :style => "width:450px;" } %>
          </div>
      </div>

      <div class="col-md-7 col-md-offset-5">
      <%=f.submit "ADD", :class=>"btn btn-mountain btn-sm btn-round"%>
      <a class="btn btn-mountain btn-sm btn-round" href="#">Cancel</a>
      <%end%>
    </div>
<script>
$(".chzn-select").chosen({ max_selected_options: 5 });
</script>
 </div>
</div>
</div>

<hr>

<!-- Table -->
<div class="mgTop30">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <%if @all_groups.present?%>

        <table class="table table-striped" width="100%" cellspacing="0">
        <thead>
          <tr>
          <th>Group Name</th>
          <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <% if @all_groups.present?%>
          <%@all_groups.each do |group_data|%>
          <tr onclick="window.open('<%=group_details_advertisers_url%>?id=<%=group_data.id%>','_self')" class="cursor-pointer">
            <td><%=group_data.group_name%></td>
             <td>
            <div class="btn-group">
            <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
            <a href="javascript:void(0);" onclick="delete_group(<%=group_data.id%>)" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
            </div>
            </td>
          </tr>
          <%end%>
          <%end%>
        </tbody>
        </table>
        <%else%>
        <h4 class="alert alert-danger"> No Groups Yet!!</h4>
        <%end%>

      </div>
    </div>
  </div>
<script>
function delete_group(id){
  $.ajax({
    url:"<%=destroy_group_advertisers_path%>?id="+id,
    method: "POST",
    success: function(response){
      toastr.success("deleted");
      $("#group_id_"+id).hide(500);
    }
  })
}
</script>
<div class="row">
<div class="col-md-12">
 <%=will_paginate @all_groups rescue nil%>
</div>
</div>

</div>
<!-- Table-->

</div>
</section>


</div>
</section>
</main>
