<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>
<section class="account section">
<div class="container">

<div class="row">
<div class="col-md-12">
<h1>Create Ad Campaigns</h1>
</div>
</div>
<%if current_advertiser.wallet_amount >100%>
<div class="form-horizontal">
  <%=form_for @new_advertisment,:url=>advertisments_path, :method=>"post" do |f| %>
  <%=f.hidden_field:advertiser_id, :value=>current_advertiser.id%>
        <div class="form-group">
              <label class="control-label col-md-3" for="">Category</label>
              <div class="col-md-5">
                <%=f.select :category,options_for_select(Category.pluck(:name,:id)),{:prompt=>"-Select Category-"},:class=>"form-control", :required=>true%>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3" for="">Social Influencer</label>
              <div class="col-md-5">
                <%=f.select :influencer_id,options_for_select(Influencer.pluck(:name, :id)),:prompt => "-Select-",:onchange=>"check_wallet_status(this.id)",:class=>"form-control", :required=>true%>
                <p id="check_wallet_msg" style="color:red"></p>
               </div>
            </div>

        <div class="form-group">
          <label class="control-label col-md-3" for="">Media</label>
          <div class="col-md-5">
            <%=f.select :platform,options_for_select(Advertisement::PLATFORMS),:prompt => "-Select-",:class=>"form-control", :required=>true%>
        </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3" for="">Ad type</label>
          <div class="col-md-5">
            <%=select_tag("advertisement[ad_type]",options_for_select(Advertisement::TYPE),:class=>"form-control", :onchange=>"change_ad_type_div()")%>
          </div>
        </div>
        <script>
        function change_ad_type_div() {
          id = $("#advertisement_ad_type option:selected").val();
          switch(id) {
            case "1": $("#link").show();$("#photo").hide();$("#video").hide();break;
            case "2": $("#link").hide();$("#photo").show();$("#video").hide();break;
            case "3": $("#link").hide();$("#photo").hide();$("#video").show();break;
          }
        }
        $("#advertisement_influencer_id").on("change",check_wallet_status);
        function check_wallet_status(){
          selected_influencer_id = $("#advertisement_influencer_id option:selected").val();
          $.ajax({
            url:"/advertisers/get_wallet_status",
            type:"POST",
            data: {
              id:"<%=current_advertiser.id%>",
              influencer_id:selected_influencer_id
            },
            success: function(response){
               if (!response["success"]){
                $("#create_ad_btn").hide();
                $("#check_wallet_msg").text("You need minimum $"+response["publishing_price"]+" to post this Ad");
                $("#dynamic-area-1").hide();
                $("#dynamic-area-2").hide()
              }
              else {
                $("#create_ad_btn").show();
                $("#dynamic-area-1").show();
                $("#dynamic-area-2").show()
              }
            }
          })
        }
        </script>
        <hr />

        <div class="row">
        <div class="col-md-12">
        <div class="card">

        <div class="row" id="dynamic-area-1">
        <div class="col-md-12">
            <div class="tab-content">
              <div id="link">
              <h5>Add link Ads</h5>
              <div class="form-group">
              <label class="control-label col-md-3" for="">URL</label>
              <div class="col-md-9">
                 <%=f.text_field:advertisement_link,:class=>"form-control input-sm"%>
              </div>
              </div>

              </div>

              <!--#photo -->
              <div id="photo" style="display:none">
              <h5>Add Photo Ads</h5>
              <div class="form-group">
                <label class="control-label col-md-3" for="">Upload Image</label>
                <div class="col-md-5">
                  <%=f.file_field:ad_image_url,:class=>"form-control"%>
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3" for="photo_click_link">Photo Click link</label>
                  <div class="col-md-5">
                  <%=f.text_field:photo_click_link,:class=>"form-control"%>
                  </div>
              </div>
             </div>

              <!--#video -->
              <div id="video" style="display:none">
              <h5>Add video Ads</h5>
              <div class="form-group">
              <label class="control-label col-md-3" for="">Title</label>
              <div class="col-md-9">
              <%=f.text_field:title,:class=>"form-control input-sm"%>
              </div>
              </div>

              <div class="form-group">
              <label class="control-label col-md-3" for="">URL</label>
              <div class="col-md-9">
              <%=f.text_area:advertisement_link,:class=>"form-control input-sm"%>
              </div>
              </div>
              </div>
            </div>
        </div>
        </div>
        </div>
        </div>
  </div>


    <div class="" id="dynamic-area-2">
    <hr>
    <div class="row">
      <div class="form-group">
        <label class="control-label col-md-3" for="">Description</label>
          <div class="col-md-9">
            <%=f.text_area:description,:class=>"form-control input-sm"%>
          </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="">Title</label>
      <div class="col-md-9">
        <%=f.text_field:title,:class=>"form-control input-sm"%>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="">Caption</label>
      <div class="col-md-9">
        <%=f.text_field:caption,:class=>"form-control input-sm"%>
      </div>
    </div>

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <%=f.submit "Save",:id=>"create_ad_btn", :class=>"btn btn-mountain btn-sm btn-round"%>
      <a class="btn btn-mountain btn-sm btn-round" href="#">Cancel</a>
    </div>
  </div>
<%end%>
</div>
 </div>
<%else%>
  <div class="col-md-12 text-center"><h4>Either no Balance or Balance < $100</h4></div>
<%end%>
</div>
</section>
<%= render :partial => "layouts/footer"%>

</div>
</section>

</main>
<script>
  $("#advertisement_influencer_id").addClass("form-control");
  $("#advertisement_platform").addClass("form-control");

function trigger_value_change(value){
//   console.log(value);
//   id = "";
//   switch(value){
//     case  1 : $("#link"). ; break;
//     case  2 : id = 2 ; break;
//     case  3 : id = 3 ; break;
//   }
// $("#advertisement_ad_type").val(id);
}
</script>
