<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>
<section class="account section">
<div class="container">

<div class="row">
  <div class="col-md-12">
    <h1>Create Ad Campaigns</h1>
  </div>
</div>
 <%if current_advertiser.wallet_amount.present? &&   current_advertiser.wallet_amount.to_i>=100%>
<div class="form-horizontal">
  <%=form_for @new_advertisment,:url=>advertisments_path, :method=>"post",:novalidate=>true do |f| %>
  <%=f.hidden_field:advertiser_id, :value=>current_advertiser.id%>
        <div class="form-group">
              <label class="control-label col-md-3" for="">Category</label>
              <div class="col-md-5">
                <%=f.select :category,options_for_select(Category.order("name ASC").pluck(:name,:id)),{:prompt=>"-Select Category-"},:class=>"form-control", :required=>true%>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3" for="">Social Influencer</label>
              <div class="col-md-5">
                <%=f.select :influencer_id,options_for_select(Influencer.all.map{|i| [i.name+"(#{i.email})",i.id]}),:prompt => "-Select-",:onchange=>"check_wallet_status(this.id)",:class=>"form-control", :required=>true%>
                <p id="check_wallet_msg" style="color:red"></p>
                <%=hidden_field_tag(:advertisement_cost)%>
               </div>
            </div>

        <div class="form-group">
          <label class="control-label col-md-3" for="">Media</label>
          <div class="col-md-5">
            <%=f.select :platform,options_for_select(Advertisement::PLATFORMS),:prompt => "-Select-",:class=>"form-control", :required=>true%>
        </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3" for="">Ad type</label>
          <div class="col-md-5">
            <%=select_tag("advertisement[ad_type]",options_for_select(Advertisement::TYPE),:class=>"form-control", :onchange=>"change_ad_type_div()",:prompt=>"Select Ad Type")%>
          </div>
        </div>

        <hr />

        <div class="row">
        <div class="col-md-12">
        <div class="card">

        <div class="row" id="dynamic-area-1">
        <div class="col-md-12">
            <div class="tab-content">

              <!-- link -->
              <div id="link">
                <h4>Add link Ads</h4>
                <div class="form-group">
                  <label class="control-label col-md-3" for="">URL to Share</label>
                    <div class="col-md-9">
                       <%=f.text_field :posting_link,:class=>"form-control input-sm"%>
                    </div>
                </div>
              </div>

              <!--#photo -->
              <div id="photo" style="display:none">
              <h4>Add Photo Ads</h4>
              <div class="form-group">
                <label class="control-label col-md-3" for="">Upload Image</label>
                <div class="col-md-5">
                  <%=f.file_field:ad_image_url,:class=>"form-control"%>
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3" for="photo_click_link">Photo Click link</label>
                  <div class="col-md-5">
                  <%=f.text_field:photo_click_link,:class=>"form-control"%>
                  </div>
              </div>
             </div>

              <!--#video
              <div id="video" style="display:none">
              <h5>Add video Ads</h5>
              <div class="form-group">
              <label class="control-label col-md-3" for="">Title</label>
              <div class="col-md-9">
              <%=f.text_field:title,:class=>"form-control input-sm"%>
              </div>
              </div>

              <div class="form-group">
              <label class="control-label col-md-3" for="">URL </label>
              <div class="col-md-9">
              <%=f.text_area:advertisement_link,:class=>"form-control input-sm"%>
              </div>
              </div>
            </div>-->
            </div>
        </div>
        </div>
        </div>
        </div>
  </div>


    <div class="" id="dynamic-area-2">
    <hr>
      <div class="form-group">
        <label class="control-label col-md-3" for="">Description</label>
          <div class="col-md-9">
            <%=f.text_area:description,:class=>"form-control input-sm", :required=>true%>
          </div>
      </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="">Title</label>
      <div class="col-md-9">
        <%=f.text_field:title,:class=>"form-control input-sm", :required=>true%>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="">Caption</label>
      <div class="col-md-9">
        <%=f.text_field:caption,:class=>"form-control input-sm", :required=>true%>
      </div>
    </div>

</div>

    <div class="col-md-9 col-md-offset-3">
      <%=f.submit "Create",:id=>"create_ad_btn",:onclick=>"check_validations()", :class=>"btn btn-mountain btn-sm btn-round"%>
      <a class="btn btn-mountain btn-sm btn-round" href="#">Cancel</a>
    </div>
  <%end%>
 </div>
<%else%>
  <div class="col-md-12 text-center"><h4>Please Add Amount balance to My Wallet(min $100)</h4></div>
<%end%>
</div>
</section>
<%= render :partial => "layouts/footer"%>

</div>
</section>

</main>
<script>
  $("#advertisement_influencer_id").addClass("form-control");
  $("#advertisement_platform").addClass("form-control");
  $("#new_advertisement").attr("novalidate","novalidate")
  function check_validations() {
    event.preventDefault();
    //  if ($("#advertisement_ad_type option:selected").val()==2 && $("#advertisement_ad_image_url").val().split(".")[1]!="png" && $("#advertisement_ad_image_url").val().split(".")[1]!="jpg") {
    //   alert("upload only .png or .jpg file");
    //   console.log("Ddd");
    // }
    // else {
    //   $("#new_advertisement").submit();
    // }
    // toastr.error("Enter All the fields");

    if($("#advertisement_category option:selected").val()=="" || $("#advertisement_influencer_id").val() == "" || $("#advertisement_platform").val()=="" || $("#advertisement_ad_type").val()==""){
      toastr.error("Select Category , Influencer and AD type");
    }
    else if($("#advertisement_ad_type option:selected").val()=="") {
      toastr.error("Select Media Type");
    }
    else if($("#advertisement_ad_type option:selected").val()==2 && $("#advertisement_ad_image_url").val()==""){
       toastr.error("upload a photo please");
     }
    else if ($("#advertisement_ad_type option:selected").val()==1 && $("#advertisement_posting_link").val()=="" || $("#advertisement_photo_click_link").val()==""){
      toastr.error("Enter Posting URL Please");
    }
    else if( $("#advertisement_ad_type option:selected").val()==2 && ($("#advertisement_description").val()=="" || $("#advertisement_title").val()=="" || $("#advertisement_caption").val()=="")){
      toastr.error("Description, Caption and title");
    }
    else {
      $("#new_advertisement").submit();

    }
  }

function change_ad_type_div() {
  id = $("#advertisement_ad_type option:selected").val();
  switch(id) {
    case "1": $("#link").show();$("#photo").hide();$("#video").hide();$("#dynamic-area-2").children().addClass("hidden");break;
    case "2": $("#link").hide();$("#photo").show();$("#video").hide();$("#dynamic-area-2").children().removeClass("hidden");break;
    case "3": $("#link").hide();$("#photo").hide();$("#video").show();break;
  }
}
$("#advertisement_influencer_id").on("change",check_wallet_status);
function check_wallet_status(){
  selected_influencer_id = $("#advertisement_influencer_id option:selected").val();
  $.ajax({
    url:"/advertisers/get_wallet_status",
    type:"POST",
    data: {
      id:"<%=current_advertiser.id%>",
      influencer_id:selected_influencer_id
    },
    success: function(response){
       if (!response["success"]){
        $("#create_ad_btn").hide();
        alert("You need minimum $"+response["publishing_price"]+" to post this Ad");
        $("#dynamic-area-1").hide();
        $("#dynamic-area-2").hide()
      }
      else {
        $("#create_ad_btn").show();
        $("#dynamic-area-1").show();
        $("#dynamic-area-2").show();
        $("#advertisement_cost").val(response["publishing_price"]);
        console.log(response["publishing_price"]);
      }
      console.log(response["publishing_price"]);
      $("#check_wallet_msg").text("Cost $"+response["publishing_price"]);
    }
  })
}
</script>
