<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>

<section class="account section">
<div class="container">
      <div class="row">
  <div class="col-md-12">
    <h1>Advertiser Dashboard</h1>
  </div>
</div>

<!-- Dashboard Tiles -->
<div class="row">
  <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer">$<%=@spent_today%></h1>
                      <p>Today Spend</p>
                  </div>
                  <div class="icon"><span class="ion-social-usd"></span></div>
              </div>
          </div>

  <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer">$<%=@spent_this_month%></h1>
                      <p>Monthly Spend</p>
                  </div>
                  <div class="icon"><span class="ion-social-usd"></span></div>
              </div>
          </div>

  <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer"><%=@published_ad_count%></h1>
                      <p>Ads Published</p>
                  </div>
                  <div class="icon"><span class="ion-share "></span></div>
              </div>
          </div>

  <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer"><%=@influencer_count%></h1>
                      <p>Influencers</p>
                  </div>
                  <div class="icon"><span class="ion-clipboard"></span></div>
              </div>
          </div>
</div>

<!-- Dashboard Tiles -->

<!-- Table -->
<div class="mgTop30">
  <div class="row">
  <div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-striped" width="100%" cellspacing="0">
    <thead>
    <tr>
    <th>Ad Type</th>
    <th>Media</th>
    <th>Starting Date & Time</th>
    <th>Status</th>
    <th>Category</th>
    </tr>
    </thead>

    <tbody>
    <%@advertisers_ad.each do |ad|%>
    <tr>
    <td><%= Advertisement::TYPE.key(ad.ad_type.to_i) %></td>
    <td><%= Advertisement::PLATFORMS.key(ad.platform.to_i) %></td>
    <td><%= ad.created_at%></td>
     <td>
      <%=Advertisement::STATUS.key(ad.status)%>
    </td>
    <td><%=Category.find(ad.category).name.titleize%></td>
    </tr>
    <%end%>
    </tbody>
    </table>
    <%=will_paginate @advertisers_ad, renderer: BootstrapPagination::Rails%>
  </div>
  </div>
  </div>

</div>
<!-- Table -->

</div>
</section>

         <%= render :partial => "/layouts/footer" %>
</div>
</main>
<script>
FB.api("/1115405461908086/comments",function(response){
    console.log(response);
  })
</script>
