<%=render :partial=>"home/common_header"%>
  <section class="login section" style="background-image: url(/assets/subscribe/signuppagebg.jpg); background-size:cover; padding-top:120px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <div class="login-box">
				<div class="text-center">
					<img src="/assets/header/menu-logo.png">
				</div>
				<h4 class="text-center">Sign Up</h4>
				<div class="form-horizontal">

				  <div class="row">
  					<div class="col-md-12">
  					<div class="form-group" style="margin-bottom:30px;">
  						<input class="advertiser-btn" type="radio" id="radio1" name="radios" value="" checked>
  						<label for="radio1" class="btn-label">Advertisers</label>
  						<input class="influencer-btn" type="radio" id="radio2" name="radios" value="">
  						<label for="radio2" class="btn-label">Social Influencers</label>
  					</div>
  					</div>
				  </div>

				  <div class="advetiser-singup">
            <%= form_for(@new_advertiser, as: @new_advertiser, url:advertisers_path, :method=>"POST") do |f| %>

					  <div class="form-group">
						<label class="control-label col-md-4" for="">Name</label>
						<div class="col-md-8">
					  <%= f.text_field :name, :class=>"form-control",:placeholder=>"Enter Name"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Telephone No.</label>
						<div class="col-md-8">
            <%= f.number_field :telephone_no, :class=>"form-control",:placeholder=>"Enter Telephone No"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Address</label>
						<div class="col-md-8">
              <%= f.text_field :address, :class=>"form-control",:placeholder=>"Enter Address"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">City</label>
						<div class="col-md-8">
              <%= f.text_field :city, :class=>"form-control",:placeholder=>"Enter City"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">State</label>
						<div class="col-md-8">
              <%= f.text_field :state, :class=>"form-control",:placeholder=>"Enter State"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Country</label>
						<div class="col-md-8">
              <%= f.select :country,options_for_select(["America","Australia","Germany","France","Russia","UK"]),:prompt => "-Select Country"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Zip</label>
						<div class="col-md-8">
              <%= f.text_field :zip, :class=>"form-control",:placeholder=>"Enter Zip"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Username</label>
						<div class="col-md-8">
              <%= f.text_field :username, :class=>"form-control",:placeholder=>"Enter Username"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Email</label>
						<div class="col-md-8">
              <%= f.text_field :email, :class=>"form-control",:placeholder=>"Enter Email"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Password</label>
						<div class="col-md-8">
              <%= f.password_field :password, :class=>"form-control",:placeholder=>"Enter Password"%>
						</div>
					  </div>
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Word Verification:</label>
						<div class="col-md-8">
              <div class="g-recaptcha" data-sitekey="6LfJAwsUAAAAAJP5rBdRdnsi-hysY0nrQyCh6vjz"></div>
						</div>
					  </div>

            </div>

				  <div class="influencer-singup">
					  <div class="form-group">
						<label class="control-label col-md-4" for="">Name</label>
						<div class="col-md-8">
						<input id="" type="text" placeholder="Name" class="form-control"/>
						</div>
					  </div>

					  <div class="form-group">
						<label class="control-label col-md-4" for="">Account Type</label>
  						<div class="col-md-8">
    						<select name="" class="custom-select">
    							<option>Please Select</option>
    							<option>Facebook</option>
    							<option>Instagram</option>
    						</select>
  						</div>
					  </div>

					  <div class="form-group">
						<label class="control-label col-md-4" for="">Link</label>
  						<div class="col-md-8">
    						<input id="" type="text" placeholder="Link" class="form-control"/>
    						<span class="pull-right sm-font"><a href="#">+ Add More</a></span>
  						</div>
					  </div>

					  <div class="form-group">
  						<label class="control-label col-md-4" for="">Email</label>
  						<div class="col-md-8">
						    <input id="" type="email" placeholder="Email" class="form-control"/>
  						</div>
					  </div>

					  <div class="form-group">
						<label class="control-label col-md-4" for="">Password</label>
  						<div class="col-md-8">
						    <input id="" type="password" placeholder="Password" class="form-control"/>
  						</div>
					  </div>

					  <div class="form-group">
  						<label class="control-label col-md-4" for="">Word Verification</label>
  						<div class="col-md-8">
  							<img src="assets/images/captcha-code.jpg" style="margin:0 0 15px 0; padding:5px; border:solid 1px #eee;">
  						</div>
  						<div class="col-md-8 col-md-offset-4">Types the words you see the picture.</div>
  						<div class="col-md-8 col-md-offset-4">
  						<input id="" type="text" placeholder="Type Here" class="form-control"/>
  						</div>
						</div>

            </div>
            <%= f.submit "SIGN UP", :class=>"btn btn-mountain btn-block"%>
            <%end%>
				</div>

        <button class="btn-fb-sign-up js-fb-connect" data-qa-id="btn-fb-sign-up" data-context="signup">
        <div class="btn-fb-wrapper">
        	<div class="signup-spinner"></div>
        	<div class="facebook-button-icon"></div>
        	<span class="fb-signup-btn-text">Continue with Facebook</span>
        </div>
        </button>

					<button class="btn-gp-sign-up js-gp-connect" data-qa-id="btn-gp-sign-up" data-context="signup">
					<div class="btn-gp-wrapper">
						<div class="signup-spinner"></div>
						<div class="gp-button-icon"></div>
						<span class="gp-signup-btn-text">Continue with Google</span>
					  </div>
					</button>

				</div>
            </div>
          </div>
        </div>
      </section>
      <%= render :partial => "home/common_footer"%>
      <script>
      $("#advertiser_country").addClass("form-control");
      </script>
