<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
  <%= render :partial => "/layouts/left_panel" %>
  <%= render :partial => "/layouts/header" %>

  <section class="account section" style="min-height:575px;">
  <div class="container">

  <div class="row">
  <div class="col-md-12">
  <h1>Settings</h1>
  </div>
  </div>

  <div class="form-horizontal">
  <div class="row">
  <div class="col-sm-8">
    <%= form_for current_advertiser,:url=>advertiser_change_password_url,:method =>"post" do |f|%>
        <div class="form-group">
          <label class="control-label col-md-5" for="">Old Password</label>
          <div class="col-md-7">
            <%= f.password_field:old_password, :class=>"form-control"%>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-5" for="">New Password</label>
          <div class="col-md-7">
            <%= f.password_field:password, :class=>"form-control"%>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-5" for="">Confirm New Password</label>
          <div class="col-md-7">
            <%= f.password_field:confirm_password, :class=>"form-control"%>
          </div>
        </div>

        <div class="col-md-7 col-md-offset-5">
          <%= f.submit "Save", :class=>"btn btn-mountain btn-sm btn-round"%>
        <a class="btn btn-mountain btn-sm btn-round" href="#">Cancel</a>
        </div>

  <!--<button class="btn btn-mountain-o btn-sm btn-round">Save</button> <button class="btn btn-mountain-o btn-sm btn-round">Cancel</button>		-->
  <%end%>
  </div>
  </div>
  </div>

  </div>
  </section>

  </div>
  </section>
</main>
