<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
  <%= render :partial => "/layouts/left_panel" %>
  <%= render :partial => "/layouts/header" %>
  <section class="account section">
    <div class="container mgTop10">
    <div class="row">
      <div class="col-md-3">
        <% if @influencer_details.profile_image_url%>
          <img height="250px" class="profile-img" src="<%=@influencer_details.profile_image_url%>">
        <%else%>
          <img height="250px" class="profile-img" src="/assets/default-user">
        <%end%>
      </div>
      <div class="col-md-8 col-offset-2">
        <h3><%=@influencer_details.name.titleize%></h3>
        <table class="table table-striped">
          <tr>
            <td><b>Registered on</b> : <%=@influencer_details.created_at.strftime("%d/%m/%Y")%></td>
            <td><b>Category</b> : <%=@influencer_details.category.camelcase rescue nil%></td>
          </tr>
        </table>
        <h3> Insights </h3>


        <%#if @image_urls.present?%>
          <!-- <h3>Recent Media</h3> -->
          <%#@image_urls.each do |image_url|%>
          <!-- <div class="col-md-2"> -->
            <!-- <img src="<%#=image_url%>" width="100px" height="100px" /> -->
          <!-- </div> -->
          <%#end%>
        <%#end%>


        <p><i class="fa fa-instagram"></i> <%=@influencer_details.instagram_page_count || 0%></p>
         <%if @social_accounts.present?%>
          <%@social_accounts.each do |social_account|%>
            <div class="col-md-12" style="border:1px solid #000">
               <p><b>Facebook followers :</b><%=social_account.facebook_page_title%></p>
               <p><b>Facebook followers :</b><%=social_account.facebook_page_count%></p>
               <p><b>Facebook page Id :</b> <%=social_account.facebook_profile_id || "NA"%></p>
               <p><b>Country :</b><%=social_account.country%></p>
               <p><b>Category :</b><%=social_account.category%></p>
               <p><b>Brief Details</b>: <%=social_account.about%></p>
             </div>
           <%end%>

         <%else%>
         <p>Do Not Exists!</p>
         <%end%>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
  </section>
  </div>
</section>
</main>
