<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>
<section class="account section">
<div class="container">
  <div class="row">
    <div class="col-md-2">
          <h1>Influencers</h1>
      </div>
     <div class="col-md-10 text-right">

      <div class="form-inline extraMargin">
      <button class="btn btn-default btn-sm" onclick="to_list()"><span class="fa fa-bars"> </span>List</button>
      <button class="btn btn-default btn-sm" onclick="to_grid()"><span  class="fa fa-th-large"></span>Grid</button>
      <%if params[:category].present? && params[:publishing_price].present?%>
      <div class="form-group extraControl wd150 clearfix hidden">
        <%=select_tag :category_id,options_for_select(Category.order("name ASC").pluck(:name,:id),params[:category_id]),{:include_blank=>"-Select Category-",:class=>"form-control",:onchange=>"filter('category',this)"} %>
      </div>
      <div class="form-group extraControl wd150 clearfix hidden">
        <%=select_tag :publishing_price,options_for_select(Influencer.pluck(:publishing_price).uniq,params[:publishing_price]),{:include_blank=>"-Publishing Price-",:class=>"form-control",:onchange=>"filter('publishing_price',this)"} %>
    </div>
      <%else%>
      <div class="form-group extraControl wd150 clearfix">
        <%=select_tag :category_id,options_for_select(Category.order("name ASC").pluck(:name,:id),params[:category_id]),{:include_blank=>"-Select Category-",:class=>"form-control",:onchange=>"filter('category',this)"} %>
      </div>
      <div class="form-group extraControl wd150 clearfix">
        <%=select_tag :publishing_price,options_for_select(Influencer.pluck(:publishing_price).uniq,params[:publishing_price]),{:include_blank=>"-Publishing Price-",:class=>"form-control",:onchange=>"filter('publishing_price',this)"} %>
    </div>
    <%end%>
      <div class="form-group">
        <a href="<%=advertiser_show_influencers_path(advertiser_id:current_advertiser.id)%>" id="list" onclick="javascript:window.location.reload()" class="btn btn-default btn-sm"><span class="ion-loop"></span></a>
      </div>

   </div>
    </div>
  </div>
</div>
<script>
function filter(type,obj){
  console.log(type);
  console.log($("#"+obj.id+" option:selected").val());

  exisiting_filter = window.location.href.split("?")[1];
  if (exisiting_filter!=undefined){
    // alert(exisiting_filter);
      window.open("<%=advertiser_show_influencers_path(advertiser_id:current_advertiser.id)%>?"+exisiting_filter+"&"+type+"="+$("#"+obj.id+" option:selected").val(),"_self");
  }
  else {
    // alert("2");
    window.open("<%=advertiser_show_influencers_path(advertiser_id:current_advertiser.id)%>?"+type+"="+$("#"+obj.id+" option:selected").val(), "_self")
  }

}
</script>
<!-- Influencer(id: integer, email: string, encrypted_password: string, reset_password_token: string, reset_password_sent_at: datetime, remember_created_at: datetime, sign_in_count: integer, current_sign_in_at: datetime, last_sign_in_at: datetime, current_sign_in_ip: string, last_sign_in_ip: string, name: text, created_at: datetime, updated_at: datetime, facebook_page_count: integer, instagram_page_count: integer, wallet_amount: integer, category: text, publishing_price: text, token: text, is_verified: boolean)  -->
<!-- 2.3.1 :003 >  -->

<div class="container mgTop10">

  <div id="products" class="row list-group">
    <!-- List Item -->
    <% @influencers.each do |influencer|%>
    <div class="item col-xs-12 col-lg-3 main-content-wrapper">


      <div class="price-features">
      <div class="advertiserBox">
        <% if influencer.profile_image_url%>
        <a href="<%=show_influencer_details_advertisers_path(id:influencer.id)%>"><img src="<%=influencer.profile_image_url%>"></a>
        <%else%>
        <a href="<%=show_influencer_details_advertisers_path(id:influencer.id)%>"><img src="/assets/default-user"></a>
        <%end%>
      </div>
      <div class="caption">
        <h4><a href="influencer-detail.html"><%=influencer.name%></a></h4>
        <div class="price-number-wrap mgBottom30">
          <div class="price-top">
          <p><%=influencer.social_account.last.about.truncate(10) rescue "Not Provided"%></p>
          <p><strong>Instagram Followers: </strong> <span class="smFollow"><%=influencer.instagram_page_count%></span></br>
          <p><strong>Facbook page likes: </strong> <span class="smFollow">
            <%#if influencer.social_accounts.any?%>
              <%#influencer.social_accounts.each do |social_account|%>
                <!-- <p><span><%#=social_account.facebook_page_title%>: </span><span><%#=social_account.facebook_page_count%></span></p> -->
               <%#end%>
            <%#end%>
          </span></br>
          <strong>Recommended Price Tag/Posts:</strong> <span class="smPrice">$ <%=influencer.publishing_price.present? ? influencer.publishing_price : "NA"%></span></p>
          </div>
          <div>
          <hr>

          <div class="pull-right">
          <p class="btn-list">
            <a href="<%=advertiser_create_ad_compaign_path(influencer_id:influencer.id)%>" class="btn btn-mountain-flat btn-sm">Post Ad</a></p>
            <a href="<%=show_influencer_details_advertisers_path(id:influencer.id)%>" class="btn btn-mountain-flat btn-sm">Details</a></p>
          </div>
          </div>
        </div>

      </div>
      </div>

    </div>
    <%end%>

    <div class="col-md-12">
    <%=will_paginate @influencers%>
  </div>
  </div>
</div>
</section>
<script>
function to_list(event){
  $("#products > div").removeClass("item col-xs-12 col-lg-4 main-content-wrapper grid-group-item").addClass("item col-xs-12 col-lg-4 main-content-wrapper grid-group-item list-group-item");
}
function to_grid(event){
  $("#products > div").removeClass("item col-xs-12 col-lg-4 main-content-wrapper grid-group-item list-group-item").addClass("item col-xs-12 col-lg-4 main-content-wrapper grid-group-item");
}
Tipped.create('.fb-icon', 'Some tooltip text');

</script>
<%= render :partial => "/layouts/footer" %>

</section>
</main>
