<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
   <div class="content-wrapper">
    <%= render :partial => "/layouts/left_panel" %>
    <%= render :partial => "/layouts/header" %>
    <section class="account section">
      <h3>Demographic of <%=@name%></h3>
      <h4>link => <a href="<%=@ig_link%>" target="_blank"><%=@name%></a></h4>
    </section>

    <div class="row">
      <div class="col-md-12" id="gender_demographic" style="min-width: 310px; height: 400px; margin: 0 auto">
      </div>
    </div>
    <div class="col-md-12" id="top_5_countries_in_reach_chart" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
    <div class="col-md-12" id="top_5_influences_in_reach_chart" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
    <div class="col-md-12" id="followers_in_reach_chart" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
  </div>
</section>
</main>
<script>

Highcharts.chart('followers_in_reach_chart', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Followers '
    },

    credits: {
        enabled: false
    },
     series: [
    <%
     @no_of_followers.each_with_index do |country,index|%>
    {
        name: "<%=country["name"]%>",
        data: [<%=country["i_average"].round%>]
    },
    <%
  end%>
  ]
});



Highcharts.chart('top_5_influences_in_reach_chart', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Influences Celebrity'
    },

    credits: {
        enabled: false
    },
     series: [
    <%
    @top_5_influences_in_reach.each_with_index do |country,index|%>
    {
        name: "<%=country["name"]%>",
        data: [<%=country["i_average"].round%>]
    },
    <%
  end%>
  ]
});


Highcharts.chart('top_5_countries_in_reach_chart', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Top 5 countries Reach'
    },

    credits: {
        enabled: false
    },
     series: [
    <%
    @top_5_countries_in_reach.each_with_index do |country,index|%>
    {
        name: "<%=country["name"]%>",
        data: [<%=country["i_average"].round%>]
    },
    <%
  end%>
  ]
});

Highcharts.chart('gender_demographic', {
    chart: {
        type: 'bar',
    },
    title: {
      text: "Gender Reach"
    },
    yAxis: {
         title: {
            text: 'Gender Reach(AVG)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: '%'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Male',
        data: [<%=@male_reach%>]
    }, {
        name: 'Female',
        data: [<%=@female_reach%>]
    } ]
});
</script>
