<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
  <%= render :partial => "/layouts/left_panel" %>
  <%= render :partial => "/layouts/header" %>
  <section class="account section" style="min-height:575px;">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
      </div>
    <div class="col-md-12">
      <h1>Social Account</h1>
    </div>
   </div>

   <div class="row">
    <div class="col-md-12 form-horizontal">
      <div class="borderBox-new">
        <div class="row">
        <div class="col-md-3">
        <div class="form-group">
          <label for="Ad type">Ad Type:</label>
          <select name="" class="form-control custom-select">
            <option>Select</option>
            <option>Photo</option>
            <option>Link</option>
            <option>Video</option>
          </select>
        </div>
        </div>

        <div class="col-md-3">
        <div class="form-group">
          <label for="Ad type">Category:</label>
          <select name="" class="form-control custom-select">
            <option>Select</option>
            <option>Celebrity</option>
            <option>Cars</option>
            <option>Animals</option>
            <option>Nature</option>
            <option>Food</option>
            <option>Sports</option>
            <option>Fitness</option>
            <option>Models</option>
            <option>Technology</option>
            <option>Premium</option>
            <option>Other</option>
          </select>
        </div>
        </div>

        <div class="col-md-3">
        <div class="form-group">
          <label for="Ad type">Media Type:</label>
          <select name="" class="custom-select form-control">
            <option>Select</option>
            <option>Facebook</option>
            <option>Instagram</option>
            <option>Both</option>
          </select>
        </div>
        </div>

        <div class="col-md-2 text-left mgTop25">
        <button type="submit" class="btn btn-primary">Apply</button>
        </div>
        </div>
      </div>
    </div>
         </div>


          <div class="row">

            <!-- List Item -->
            <%@social_accounts.each do |social_account|%>
            <div class="col-md-4 main-content-wrapper">
              <div class="lft-icon">
                <div class="center-icon">
                  <span class="ion-social-facebook"></span>
                </div>
              </div>

              <div class="rgt-icon">
                <div class="center-icon">
                  <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Category: <%=social_account.category%>,<%=social_account.about.truncate(20) if social_account.about.present?%><br>Estimated Reach: <%=number_to_human(social_account.facebook_page_count.to_i, :format => '%n%u', :units => { :thousand => 'K' })%>"><span class="ion-information"></span></a>
                </div>
              </div>

              <div class="price-features">
              <div class="advertiserBox">
                <a href="<%=advertiser_influencer_detail_path(social_account_id:social_account.id)%>"><img src="<%=social_account.facebook_image_url%>" width="100%"></a>
              </div>
              <h4><a href="<%=advertiser_influencer_detail_path(social_account_id:social_account.id)%>"><%=social_account.platform_type_id%></a></h4>
              <div class="price-number-wrap mgBottom30">
                <div class="price-top">
                  <p>Followers: <span class="smFollow"><%=social_account.facebook_page_count%></span></br>
                Recommended Price Tag/Posts: <span class="smPrice">$50</span></p>
                </div>
              </div>
              </div>
            </div>
            <%end%>


  </div>
  </div>
  </section>
</div>
</section>

  <script>
  $(document).ready(function(){
    check_login_status();
  });

  function check_login_status(){
    FB.api("/me",function(response){
      console.log(response)
    });
  }

  function show_facebook_login_popup(){
      FB.login();
    }
  </script>
