<div class="advetiser-singup">
  <%= form_for(@new_advertiser, :method=>"post", :id=>"advertiser_form") do |f| %>
  <div class="form-group">
    <label class="control-label col-md-4" for="">Name</label>
    <div class="col-md-8">
    <%= f.text_field :name, :class=>"form-control",:placeholder=>"Enter Name", :onkeyup=>"check_for_letters(this.value)"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="">Email</label>
    <div class="col-md-8">
      <%= f.text_field :email, :class=>"form-control",:placeholder=>"Enter Email",:onblur=>"check_exising_user(this.value)"%>
      <span class="sm-Txt hidden"  id="error-msg"></span>

    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="">Password</label>
    <div class="col-md-8">
      <%= f.password_field :password, :class=>"form-control",:placeholder=>"Enter Password"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="">Address</label>
    <div class="col-md-8">
      <%= f.text_field :address, :class=>"form-control",:placeholder=>"Enter Address"%>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-4" for="">Telephone No.</label>
    <div class="col-md-8">
    <%= f.text_field :telephone_no, :class=>"form-control",:placeholder=>"Enter telephone no", :maxlength=>"12", :onkeyup=>"check_for_number(this.value)"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="">City</label>
    <div class="col-md-8">
      <%= f.text_field :city, :class=>"form-control",:placeholder=>"Enter City", :onkeyup=>"check_for_letters(this)"%>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-4" for="">State</label>
    <div class="col-md-8">
      <%= f.text_field :state, :class=>"form-control",:placeholder=>"Enter State", :onkeyup=>"check_for_letters(this.value)"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="">Country</label>
    <div class="col-md-8">
      <%= f.select :country,options_for_select(Country.pluck(:country_name)),:prompt => "-Select Country",:class=>"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="">Zip</label>
    <div class="col-md-8">
      <%= f.text_field :zip, :class=>"form-control",:placeholder=>"Enter Zip", :onkeyup=>"check_for_number(this.value)", :maxlength=>8%>
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-8" id="advertiser_form_captcha">
        <!-- <div class="g-recaptcha" data-sitekey="6LfJAwsUAAAAAJP5rBdRdnsi-hysY0nrQyCh6vjz"></div> -->
      </div>
    </div>
    <div class="form-group">
         <div class="col-md-12">
           <%= f.submit("Sign Up", :class=>"btn-fb-sign-up js-fb-connect",:id=>"create_advertiser_btn")%>
        </div>
      </div>
  <%end%>
  </div>
<script>
$("#create_advertiser_btn").on("click",function(event){
  event.preventDefault();
  name = $("#advertiser_name").val();
  email = $("#advertiser_email").val();
  password = $("#advertiser_password").val();
  telephone = $("#advertiser_telephone").val();
  city = $("#advertiser_city").val();
  state = $("#advertiser_state").val();
  country  = $("#advertiser_country options:selected").val();
  zip = $("#advertiser_zip").val();
  if (name!="" && email!="" && password!="" && telephone!="" && city!="" && state!="" && country!="" &&  zip!="" && grecaptcha.getResponse() != "") {
    $.ajax({
      url:"/check_existing_user",
      type:"POST",
      data: {
        type:"advertiser",
        email:email
      },
      success : function(response) {
        console.log(response);
        if (response["status"] != "error"){
          $("#new_advertiser").submit();
        }
      }
    })
  }
  else {
      $("#error-msg").removeClass("hidden").text("Enter All Fields & validate captcha");
  }
});

  function check_exising_user(value){

    if (isValidEmailAddress(value)){
      $.ajax({
        url:"/check_existing_user",
        type:"POST",
        data: {
          type:"advertiser",
          email:value
        },
        success : function(response) {
          console.log(response);
          if (response["status"] == "error")
          {
            $("#error-msg").removeClass("hidden").text("Email Already Exists");
            $("#advertiser_email").focus();
            // $("#advertiser_email").focus();
          }
          else {
              $("#error-msg").addClass("hidden");
          }
        }
      })
    }
    else {
      if(value.length>=3)
      {
      $("#error-msg").addClass("alert alert-danger").text("This is not a valid email");
      }
    }
  }
$("#advertiser_country").addClass("form-control");
</script>
