<div class="influencer-singup">
  <%= form_for(@new_influencer, :method=>"post") do |f| %>
  <div class="form-group">
  <label class="control-label col-md-4" for="">Name</label>
    <div class="col-md-8">
      <%= f.text_field:name, :class=>"form-control", :placeholder=>"Name", :onkeyup=>"check_for_letters(this.value,false)"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="">Social Account</label>
    <div class="col-md-8">
      <select name="" class="custom-select form-control">
        <option>Please Select</option>
        <option>Facebook</option>
      </select>
    </div>
  </div>

  <!-- <div class="form-group">
    <label class="control-label col-md-4" for="">Link</label>
      <div class="col-md-8">
        <input id="" type="text" placeholder="Link" class="form-control"/>
        <span class="pull-right sm-font"><a onclick="add_link_row()" href="javascript:void(0)">+ Add More</a></span>
      </div>
  </div>
<script>
function add_link_row(){
$("#dynamic-links").append("<div class='form-group'><label class='control-label col-md-4' >Link</label><div class='col-md-8'><input name='link_"+makeid()+"' type ='text' placeholder=' link' class='form-control'/></div></div>");
}
</script>

  <div id="dynamic-links">

  </div> -->

  <div class="form-group">
    <label class="control-label col-md-4" for="">Email</label>
       <div class="col-md-8">
        <%= f.text_field:email, :class=>"form-control", :placeholder=>"Email",:onblur=>"check_exising_user1(this.value)"%>
      </div>
  </div>


  <div class="form-group">
    <label class="control-label col-md-4" for="">Password</label>
      <div class="col-md-8">
        <%=f.password_field:password, :class=>"form-control",:placeholder=>"password"%>
      </div>
  </div>

  <div class="form-group">
    <div class="col-md-8" id="influencer_form_captcha">
      <!-- <div class="g-recaptcha" data-sitekey="6LfJAwsUAAAAAJP5rBdRdnsi-hysY0nrQyCh6vjz"></div> -->
    </div>
  </div>

  <div class="form-group">
       <div class="col-md-12">
         <%= f.submit("Sign Up", :class=>"btn-fb-sign-up js-fb-connect",:id=>"create_influencer_btn")%>
      </div>
  </div>
  </div>
  <!-- <%= f.submit "SIGN UP", :class=>"btn btn-mountain btn-block"%> -->
  <%end%>
  <span class="sm-Txt hidden"  id="error-msg"></span>
  <script>
      function check_exising_user1(value,respond){
        if (isValidEmailAddress(value)){
          status = false;
          $.ajax({
            url:"/check_existing_user",
            type:"POST",
            data: {
              type:"influencer",
              email:value
            },
            success : function(response) {
               if (response["status"] == "error"){
                $("#error-msg").text("Email Already Registered");
              }
              else {
                  status = true;
              }
            }
          })
        }
        else {
          if(value.length>=3)
          {
          $("#error-msg").addClass("alert alert-danger").text("This is not a valid email");
          }
        }
        if (respond){
           return status;
        }
      }

  $("#create_influencer_btn").on("click",function(event){
    event.preventDefault();
    console.log("dd");
    name = $("#influencer_name").val();
    email = $("#influencer_email").val();
    password = $("#influencer_password").val();
    console.log(name+email+password);
    if (name!="" && email!="" && password!="" && grecaptcha.getResponse() != "") {
        $.ajax({
         url:"/check_existing_user",
         type:"POST",
         data: {
           type:"influencer",
           email:email
         },
         success : function(response) {
           console.log(response);
            if (response["status"] != "error"){
              $("#new_influencer").submit();
           }
           else {
            $("#error-msg").removeClass("hidden").addClass("alert alert-danger").text("Email already registered");
             event.preventDefault();
           }
         }
       })
     }
    else {
    $("#error-msg").addClass("alert alert-danger").text("Enter All Fields & validate captcha");
    }
  });
$("iframe").css("width","500px");
  </script>
