  <div class="topBar">
            <div class="row">
              <div class="userName"><span class="ion-navicon-round navIcon1"></span> <span class="ion-navicon-round navIcon2"></span></div>
             <div class="userName">
               <% if current_advertiser.present?%>
                 <%name = current_advertiser.name%>
                 <%elsif current_influencer.present?%>
                  <%name = current_influencer.name%>
               <%end%>
                <strong>Hello, <%=name.titleize%></strong>
                </div>
              <div class="user-nav">
                <ul>
                  <%if current_influencer%>
                  <%wallet = current_influencer.wallet_amount%>
                  <%elsif current_advertiser%>
                  <%wallet = current_advertiser.wallet_amount%>
                  <%end%>
                  <li class="lg-font">Your Balance: $<%=wallet%></li>
                  <li class="dropdown messages">
                    <span class="badge badge-danager animated bounceIn" id="new-messages">38</span>
                    <a onclick="javascript:$('#notification-dropdown').toggle()" class="dropdown-toggle options topIcon" id="toggle-mail" data-toggle="dropdown">
                    <span class="ion-ios-bell"></span>
                    </a>

                     <ul id="notification-dropdown" class="dropdown-menu alert animated fadeInDown">
                      <li>
                        <h1>You have <strong>38</strong> new Notification</h1>
                      </li>
                      <li>
                        <a href="#">
                          <div class="profile-photo">
                            <img src="/assets/profile-img.png" alt="" class="img-circle">
                          </div>
                          <div class="message-info">
                            <span class="sender">James Bond</span>
                            <span class="time">30 mins</span>
                            <div class="message-content">Lorem ipsum dolor sit amet, elit rutrum felis sed erat augue fusce...</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="profile-photo">
                            <img src="/assets/profile-img.png" alt="" class="img-circle">
                          </div>
                          <div class="message-info">
                            <span class="sender">Ivan Bella</span>
                            <span class="time">6 hours</span>
                            <div class="message-content">Curabitur metus faucibus sapien elit, ante molestie sapien...</div>
                          </div>
                        </a>
                      </li>
                      <li><a href="#">Check all Notifications <span class="ion-arrow-right-b"></span></a>
                      </li>
                    </ul>




                  </li>
                  <li class="dropdown messages">
                    <span class="badge badge-danager animated bounceIn" id="new-messages">10</span>
                    <a onclick="javascript:$('#mailer-dropdown').toggle()" class="dropdown-toggle options topIcon" id="toggle-mail" data-toggle="dropdown">
                    <span class="ion-android-mail"></span>
                    </a>
                  <ul id="mailer-dropdown" class="dropdown-menu alert animated fadeInDown">
                      <li>
                        <h1>You have <strong>10</strong> new messages</h1>
                      </li>
                      <li>
                        <a href="#">
                          <div class="profile-photo">
                            <img src="/assets/profile-img.png" alt="" class="img-circle">
                          </div>
                          <div class="message-info">
                            <span class="sender">James Bond</span>
                            <span class="time">30 mins</span>
                            <div class="message-content">Lorem ipsum dolor sit amet, elit rutrum felis sed erat augue fusce...</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="profile-photo">
                            <img src="/assets/profile-img.png" alt="" class="img-circle">
                          </div>
                          <div class="message-info">
                            <span class="sender">Jeffrey Ashby</span>
                            <span class="time">2 hour</span>
                            <div class="message-content">hendrerit pellentesque, iure tincidunt, faucibus vitae dolor aliquam...</div>
                          </div>
                        </a>
                      </li>
                      <li><a href="#">Check all messages <span class="ion-arrow-right-b"></span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-toggle" onclick="javascript:$('#account-dropdown').toggle()" data-toggle="dropdown" href="#"><img src="/assets//member-img.png" class="profile-thumb img-responsive"></a>
                    <ul id="account-dropdown" class="dropdown-menu animated fadeInDown">
                      <li>
                        <%if current_advertiser%>
                          <a href="<%=advertiser_profile_path(advertiser_id:current_advertiser.id)%>"><span class="ion-person"></span> Profile</a>
                        <%elsif current_influencer%>
                        <a href="<%=influencer_profile_path(influencer_id:current_influencer.id)%>"><span class="ion-person"></span> Profile</a>

                        <%end%>

                      </li>
                      <li>
                        <a href="#"><span class="ion-person"></span> Account</a>
                      </li>
                      <li>
                        <%if current_advertiser%>
                          <a href="<%=advertiser_setting_path(advertiser_id:current_advertiser.id)%>"><span class="ion-gear-b"></span> Settings</a>
                          <%elsif current_influencer%>
                          <a href="<%=influencer_setting_path(influencer_id:current_influencer.id)%>"><span class="ion-gear-b"></span> Settings</a>
                        <%end%>
                      </li>
                      <li>
                        <%=link_to "<span class='ion-power'></span>&nbsp;Logout".html_safe, destroy_advertiser_session_path ,method: :delete  %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
