<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
  <div class="content-wrapper">
    <%= render :partial => "/layouts/left_panel" %>
    <%= render :partial => "/layouts/header" %>
    <section class="account section" style="min-height:575px;">
      <div class="container">
        <% type = current_influencer.present? ? "influencer"  : "advertiser"%>
        <div class="row">
          <div class="col-md-3">
            <div class="advertiserBox">

              <%if current_influencer.present? && current_influencer.profile_image_url.present? %>
                <a href="#"><img src="<%=current_influencer.profile_image_url%>"></a>
                <%elsif current_advertiser.present? && current_advertiser.profile_photo_url.present?%>
                <a href="#"><img src="<%=current_advertiser.profile_photo_url%>"></a>
                <%else%>
                <a style="display:none" href="#"><img src="/assets/default-user"></a>
              <%end%>


              <%if type == "advertiser"%>
                <h5>Update Photo</h5>
                <%=form_tag "/update_advertiser_profile_photo",:method=>"post",:multipart=>true do %>
                  <%=file_field_tag(:advertiser_profile_photo,:class=>"form-control form-control-img  ",:required=>true)%>
                  <br />
                  <p  ><%=submit_tag "Update Profile Photo",:class=>"btn btn-mountain-flat btn-sm"%></p>
                  <%end%>
                  <%else%>
                  <%=form_tag "/update_influencer_profile_photo",:method=>"post",:multipart=>true do %>
                    <%=file_field_tag(:influencer_profile_photo,:class=>"form-control",:required=>true)%>
                    <br />
                    <p align="center"><%=submit_tag "Update Profile Photo",:class=>"btn btn-mountain-flat btn-sm"%></p>
                    <%end%>
              <%end%>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-horizontal">
              <h3>Profile </h3>
              <table class="table">
                <tr>
                  <td><b>Name</b></td>
                  <td><%=eval("current_#{type}").name%></td>
                </tr>
                <tr>
                  <td><b>Email</b></td>
                  <td><%=eval("current_#{type}").email%></td>
                </tr>
                <%if current_influencer%>
                <%=form_for current_influencer,:method=>"put" do |f|%>

                  <tr>
                    <td><b>Category</b></td>
                    <td><%=f.select :category_id,options_for_select(Category.pluck(:category_name,:id),eval("current_#{type}").category_id),{:prompt=>"-Category-"},:class=>"form-control", :required=>true%></td>
                   </tr>
                  <tr>
                    <td><b>Gender</b></td>
                    <td><%=f.select :gender,options_for_select(Influencer::GENDERS),{:prompt=>"-Gender-"},:class=>"form-control", :required=>true%></td>
                  </tr>
                  <tr>
                    <td><b>Age</b></td>
                    <td>
                      <%=f.text_field:age,:class=>"form-control"%>
                   </tr>
                    <tr>
                      <td colspan="2"><p align="center"><%=submit_tag "Update",:class=>"btn btn-success"%></p></td>
                    </tr>

                  <%end%>
                <%end%>
              </table>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>

          <hr />
          <%if current_influencer%>
          <h3>Financial Details</h3>
          <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 text-center">
            <%=form_for @financial_data,:url=>"/update_financial_data",:method=>"post" do |f|%>
            <%=f.hidden_field:influencer_id,:value=>current_influencer.id%>
            <table class="table table-striped">
              <tr>
                <td><%=f.label:bank_name%></td>
                <td><%=f.text_field:bank_name,:placeholder=>"Enter Bank Name",:class=>"form-control", :required=>true%></td>
              </tr>
              <tr>
                <td><%=f.label:bank_branch%></td>
                <td><%=f.text_field:bank_branch,:placeholder=>"Enter Bank Branch",:class=>"form-control", :required=>true%></td>
              </tr>
               <tr>
                <td><%=f.label:ifsc_code%></td>
                <td><%=f.text_field:ifsc_code,:placeholder=>"Enter IFSC Code",:class=>"form-control", :required=>true%></td>
              </tr>
              <tr>
                <td><%=f.label:ac_type%></td>
                 <td><%=f.select :ac_type,options_for_select(InfluencerFinancialInfosController::AC_TYPES),{:prompt=>"-AC TYPE-"},:class=>"form-control", :required=>true%></td>
              </tr>
              <tr>
                <td><%=f.label:ac_number%></td>
                <td><%=f.text_field:ac_number,:placeholder=>"Enter Bank Name",:class=>"form-control", :required=>true%></td>
              </tr>
            </table>
            <%=f.submit("Update Fiancial Details", :class=>"btn btn-success")%>
            <%end%>
          </div>
          <div class="col-md-2"></div>
        </div>
          <h3>Publishing Details</h3>
          <div class="col-md-2"></div>
          <div class="col-md-8 text-center">
            <%=form_for current_influencer, :url=>influencer_path(id:current_influencer.id), :method=>"put" do |f|%>
            <table class="table table-striped">
              <tr>
                <td><%=f.label:publishing_price%>($)</td>
                <td><%=f.text_field:publishing_price,:placeholder=>"Enter your publishing price",:class=>"form-control"%></td>
              </tr>
            </table>
            <%=f.submit("Update Publishing Details", :class=>"btn btn-success")%>
            <%end%>
          </div>
          <div class="col-md-2"></div>
          <%end%>
        </div>
       </div>
      </section>
   </div>
  </section>
</main>
