<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
  <div class="content-wrapper">
    <%= render :partial => "/layouts/left_panel" %>
    <%= render :partial => "/layouts/header" %>
    <section class="account section" style="min-height:575px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <h1>Profile</h1>
          </div>
        </div>
        <% type = current_influencer.present? ? "influencer"  : "advertiser"%>
          <div class="form-horizontal">
          <table class="table">
            <tr>
              <td><b>Name</b></td>
              <td><%=eval("current_#{type}").name%></td>
            </tr>
            <tr>
              <td><b>Email</b></td>
              <td><%=eval("current_#{type}").email%></td>
            </tr>
          </table>
        </div>
          <hr />
          <%if current_influencer%>
          <h3>Other Details</h3>
          <div class="col-md-2"></div>
          <div class="col-md-8 text-center">
            <%=form_for current_influencer, :url=>influencer_path(id:current_influencer.id), :method=>"put" do |f|%>
            <table class="table table-striped">
              <tr>
                <td><%=f.label:publishing_price%>($)</td>
                <td><%=f.text_field:publishing_price,:placeholder=>"Enter your publishing price",:class=>"form-control"%></td>
              </tr>
            </table>
            <%=f.submit("Submit", :class=>"btn btn-success")%>
            <%end%>
          </div>
          <div class="col-md-2"></div>
          <%end%>
        </div>
       </div>
      </section>
   </div>
  </section>
</main>
