<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SocialBooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
  <script>
  Pusher.logToConsole = true;

    var pusher = new Pusher('8a6db1144940a1e554b7', {
      encrypted: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      console.log(data.message);
    });
   </script>
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript">
      paceOptions = {
          ajax: false,
          document: true,
          restartOnPushState: false,
          restartOnRequestAfter: false
      }
    </script>

</head>
<body>
  <% unless flash.empty? %>
   <script type="text/javascript">
       <% flash.each do |f| %>
       <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
       <% end %>
   </script>
  <% end %>
    <%= yield %>

</body>
</html>
