<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SocialBooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
   <script>
     var OneSignal = window.OneSignal || [];
     OneSignal.push(["init", {
       appId: "57ad2410-e850-4023-95a9-8d740e124773",
       autoRegister: false, /* Set to true to automatically prompt visitors */
       subdomainName: 'https://social-booker.onesignal.com',
       httpPermissionRequest: {
         enable: true
       },
       notifyButton: {
           enable: true /* Set to false to hide */
       }
     }]);
     </script>
   <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
         toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
   <% end %>
   <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- <script type="text/javascript">
      paceOptions = {
          ajax: false,
          document: true,
          restartOnPushState: true,
          restartOnRequestAfter: true
      }
    </script> -->

</head>
<body>

  <%= yield %>

</body>
</html>
